markdown: kramdown
paginate: 10

theme: materialize

# Search engine optimizations
url: https://apereo.foundation
twitter:
  username: Apereo
facebook:
  publisher: apereo
social:
  name: Apereo Foundation
  links:
    - https://twitter.com/Apereo
    - https://www.facebook.com/apereo
    - https://apereo.slack.com
    - https://github.com/apereo

# context for github metadata plugin
repository: ChristianMurphy/apereo.foundation

# group related content into collections
collections:
  projects:
    output: true
    permalink: /:collection/:name
  events:
    output: true
    permalink: /:collection/:name

# set defaults for the collections
defaults:
  -
    scope:
      path: ""
      type: projects
    values:
      layout: default
  -
    scope:
      path: ""
      type: events
    values:
      layout: default

# files and folders that will not be included
exclude:
  - .github

# enable plugins supported by
# https://pages.github.com/versions/
plugins:
  - jekyll-feed
  - jekyll-github-metadata
  - jekyll-mentions
  - jekyll-paginate
  - jekyll-readme-index
  - jekyll-seo-tag
  - jekyll-sitemap
  - jemoji
