<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Apereo Foundation</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ site.baseurl }}{% link projects.md %}">Projects</a>
    <a class="mdl-navigation__link" href="{{ site.baseurl }}{% link events.md %}">Events</a>
    <a class="mdl-navigation__link"
      href="{{ site.baseurl }}{% link membership/README.md %}">Membership</a>
    <a class="mdl-navigation__link" href="">Governance</a>
    <a class="mdl-navigation__link" href="">Values</a>
  </nav>
</div>
