<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">
      <a href="/">
        Apereo Foundation
      </a>
    </span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="{{ site.baseurl }}{% link projects.md %}">Projects</a>
      <a class="mdl-navigation__link" href="{{ site.baseurl }}{% link events.md %}">Events</a>
      <a class="mdl-navigation__link" href="">Membership</a>
      <a class="mdl-navigation__link" href="">Governance</a>
      <a class="mdl-navigation__link" href="">Values</a>
    </nav>
  </div>
</header>
