.apereo-container {
  margin: auto;
  padding: 20px;
  max-width: 1600px;
}

.apereo-hero {
  display: block;
  margin: auto;
  width: 75%;
  max-width: 500px;
}

.apereo-header-title-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media (min-width: 700px) {
  .apereo-project-card {
    top: 70px;
    right: 25px;
    position: fixed;
  }
  .apereo-project-content {
    width: calc(100% - (330px + 70px));
    min-width: 300px;
  }
}

@media (max-width: 699px) {
  .apereo-project-card {
    display: none;
  }
}
